{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="p-5 mb-4 rounded-3" style="background-color:#331D2C;">
  <div class="container-fluid py-5" style="background-color:#331D2C;">
    <h1 class="display-5 fw-bold">Welcome to Bookstore Academy</h1>
    <p class="col-md-8 fs-4">you can use the bookstore to add, edit and delete books from your library, and share your
      own list of the best books</p>
    <button class="btn btn-outline-primary btn-lg" type="button">Learn More</button>
  </div>
</div>


<section class="s1">
  <div class="main-container">
      <h2 style="text-align: center;">Recent Posts</h2>

      <div class="main-container container d-flex justify-content-center gap-4 flex-wrap">
        {% for post in post %}
        <div class="card bg-dark" style="width: 17rem;">
          <img src="{{post.image.url}}" class="card-img-top" alt="{{post.title}}" >
          <div class="card-body">
            <h5 class="card-title" style=" margin-bottom: 20px;">{{post.title}}</h5>
            <div><small>Author: {{post.author}}</small></div>
            <br>
            <small>Tags: </small>
            {% for tag in post.tags.all %}
            <span class="tag" style="background-color: #EFE1D1; color:#331D2C; padding:5px 2px; border-radius: 5px;">{{tag}}</span>
            {% endfor %}
            <hr>
            <p class="card-text">{{post.body|safe|slice:":100"}}</p> 
            <a href="{%  url 'post' post.id %}" class="btn btn-primary">Read More...</a>
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>


<div class="carousel-item">
  {% for post in post %}
  <img src="{{post.image.url}}" alt="{{post.title}}">
  <div class="carousel-caption d-none d-md-block">
    <h5>{{post.title}}</h5>
    <p>{{tag}}</p>
  </div>
  {% endfor %}
</div>



<div class="container justify-content-center">
  <h2 class="text-center p-5">Featured Books</h2>
</div>
{% load static %}
<div class="container d-flex justify-content-center gap-5">
  <div class="card bg-dark " style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'libreria/assets/img/Bases de datos avanzadas.webp'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bases de datos avanzadas</h5>
      <p class="card-text">Las bases de datos relacionales centralizadas representan una alternativa de almacenamiento bien conocida, para la cual se pueden aplicar técnicas de mejoramiento de desempeño de consultas frente al constante crecimiento del volumen de los datos. </p>
      <a href="#" class="btn btn-outline-primary">See Book</a>
    </div>
  </div>
  <div class="card bg-dark" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'libreria/assets/img/CSS Notes for Professionals.webp'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CSS Notes for Professionals</h5>
      <p class="card-text">"CSS Notes for Professionals" is an excellent resource for anyone looking to start learning CSS, one of the most important web development technologies. Whether you are a complete beginner, or looking to take your CSS skills to the next level, this ebook is the perfect place to start.</p>
      <a href="#" class="btn btn-outline-primary">See Book</a>
    </div>
  </div>
  <div class="card bg-dark" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'libreria/assets/img/PHP Notes for Professionals.webp'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PHP Notes for Professionals</h5>
      <p class="card-text">PHP is a server-side scripting language that is widely used for web development. With this book, you will get a deep understanding of the advanced programming concepts in PHP and how to apply it practically.</p>
      <a href="#" class="btn btn-outline-primary">See Books</a>
    </div>
  </div>
</div>



{% endblock %}