{% extends "base.html" %} 
{% block title %} Books {% endblock %} 
{% block content %}
<br />
<br />
<br />
{% load static %}
<div class="card bg-dark">
  <div class="card-header">
    <a name=""id="" class="btn btn-primary" href="{% url 'create' %}" role="button" >Add New Book</a>

  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h4 class="card-title">Books</h4>
    <div class="table-responsive">
      <table class="table table-primary table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>

            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}

          <tr class="">
            <td>{{book.id}}</td>
            <td>
              <img src="{{book.image.url}}" alt="{{book.title}}" height="100" />
            </td>
            <td>{{book.title}}</td>

            <td>{{book.description}}</td>
            <td>
              <a name="" id="" class="btn btn-success" href="{% url 'edit' book.id %}" role="button" ><img src="{% static 'libreria/assets/img/edit.png'%}" width="15px"/>Edit</a>
              |
              <a name="" id="" class="btn btn-danger" href="{% url 'remove' book.id %}" role="button"><img src="{% static 'libreria/assets/img/delete.png'%}" width="15px"/>Remove</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
