{% extends "../base.html" %}

{% block title %} Avatar {% endblock %}

{% block content %}

{% load crispy_forms_tags %}
    <br/>
    <form class="form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="card mx-auto bg-dark  shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 30rem;">
          <div class="card-body">
            <img src='{{avatar}}' width='80px' class="rounded mx-auto d-block">
            <h3 class="card-title text-center ">Changing Avatar for {{user.username}}</h3>
            <h6 class="text-center">You can edit or create your avatar</h6>
            {{ form | crispy }}
            <button type="submit" class="button-confirm btn btn-primary">Send Changes →</button>
            <a class="btn btn-outline-success" href="{% url 'profile' %}">Return to Profile →</a></li>
          </div>
        </div>

      </form>
{% endblock %}