{% extends "../base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}

{% load crispy_forms_tags %}
    <br/>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="card mx-auto p-3 mb-5 bg-body-tertiary rounded" style="width: 30rem;background-color: #3F2E3E; color: #EFE1D1; box-shadow: 5px 5px 5px #A78295;">
          <div class="card-body">
            <img src='{{avatar}}' width='80px' class="rounded mx-auto d-block">
            <h3 class="card-title text-center ">Editing Form for {{user.username}}</h3>
            <h6 class="text-center">You can edit all field in the form</h6>
            {{ form | crispy }}
            <button type="submit" class="button-confirm btn btn-primary">Send Changes →</button>
            <a class="btn btn-outline-success" href="{% url 'profile' %}">Return to Profile →</a></li>
          </div>
        </div>

      </form>
{% endblock %}